:root {

  --my-h1-color: #111;
  --my-h2-color: #006400;
  --my-h3-color: #22c55e;
  --my-h4-color: #018101;
  // --my-h5-color: #013801;
  // --my-h6-color: #111;
}

h1 { color: var(--my-h1-color); }
h2 { color: var(--my-h2-color); }
h3 { color: var(--my-h3-color); }
h4 { color: var(--my-h4-color); }
h5 { color: var(--my-h5-color); }
h6 { color: var(--my-h6-color); }